.btns__box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 34px;
}

.btn {
  background: var(--light-gray-color);
  border: var(--light-gray-color);
  border-radius: 4px;

  &:focus,
  &:hover {
    background: var(--blue-color);
    color: var(--white-color);
    border: var(--blue-color);
    border-radius: 4px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: var(--transition);
  }
}
.btn__text {
  font-weight: 500;
  line-height: 1.39;
  display: inline;
  text-align: center;
  padding: 6px 22px;
}
