.footer-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-self: center;
  justify-self: center;
  margin:  0 auto;
 
  gap: 30px;
  padding-top: 60px;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
       
  }
}

.footer--background {
  background: var(--dark-color);
}
@media screen and (min-width: 1200px) {
  .footer-wrapper {
    width: 1200px;
    display: grid;    
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding-bottom: 60px;

    div {
      align-items: flex-start;
    }
  }
}
