
.footer-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-self: center;
  justify-self: center;
  margin:  0 auto; 
  gap: 30px;
  padding-top: 60px;
  width: 480px;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items:first baseline;
    row-gap:60px; 
    width: 550px;
    
  }
}

.footer--background {
  background: var(--dark-color);
}
@media screen and (min-width: 1200px) {
  .footer-wrapper {
    width: 1200px;
    display: grid;    
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
   
    div {
      align-items: flex-start;
    }
  }
}
