
  .header-wrapper {
    display: flex;
    justify-content: space-between;    
    align-items:center;
    
    margin: 0 auto;
  }
  .header--box {
    border-bottom: 1px solid var(--line-main-color);
  }

@media screen and (min-width: 768px) {
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    max-width: 768px;
    
  }
}
@media screen and (min-width: 1200px) {
  .header-wrapper {
    max-width: 1200px;
        
  }
}
