.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.header--box {
  border-bottom: 1px solid var(--line-main-color);
}

@media screen and (min-width: 1200px) {
.header-wrapper {
  display: flex;
  align-items:first baseline;
  justify-content: space-between;
  padding: 20px 0px 20px 0px;
  max-width: 1200px;
}
}