.logo__link__text {
    
  font-family: "raleway", sans-serif;
  color: var(--blue-color);
  font-size: 26px;
  line-height: 1.6;
  

  &:hover .logo__text-white,
  &:hover .logo__text-black {
   
    color: var(--blue-color);
    
  }
}

// logo color in header
.logo__text-black {
  color: var(--logo-black-color);
   transition: var(--transition);
}
// logo color in footer
.logo__text-white {
  color: var(--white-color);
  transition: var(--transition);
}
// text decoration in logo header
.logo--underline {
  position: relative;

  &::after {
    content: "";
    width: 0;
    height: 4px;
    position: absolute;
    top: 59px;
    border-radius: 2px;
    right: 0;
    background: var(--blue-color);
    transition: width 0.5s, right 0.5s;
  }
  &:hover::after {
    width: 100%;
    left: 0;
  }
}