@media screen and (min-width: 480px) {
.our-team__wrapper--background {
  background: var(--bg-team-white-color);
  max-width: 480px;
  margin: 0 auto;
}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team__wrapper--background {
    background: var(--bg-team-white-color);
    max-width: 1199px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .our-team__wrapper--background {
    background: var(--bg-team-white-color);
    max-width: 1200px;
    margin: 0 auto;
  }
}

// in this section are component card-person
