* {
  margin: 0;
  padding: 0;
}

a:hover,
a:focus {
  color: var(--blue-color);
}

a {
  text-decoration: none;
  transition: var(--transition);
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}


  .page-wrapper {
    max-width: 1600px;
    margin: 0 auto;
  }

  .sections__container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section__space-top {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section__space-bottom {
    padding-bottom: 60px;
  }

  .icon {
    fill: currentColor;
    transition: var(--transition);
  }

  .section__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .section__grid-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr ;   
    gap: 30px;
  }
  @media screen and (min-width: 480px) {
    .sections__container {
    width: 480px;
  }
} 

@media screen and (min-width: 768px) {
  .sections__container {
    width: 768px;
  }
  .section__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .section__grid-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;   
  }
 
}

@media screen and (min-width: 1200px) {
  .sections__container {
    width: 1200px;
  }
  .section__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
  }
  
   .section__space-top {
    padding-top: 94px;
  }

  .section__space-bottom {
    padding-bottom: 94px;
  }
   .section__grid-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;   
  }
}
